.container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 6rem;
}

.leftContent {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  padding: 2rem 2rem 0 2rem;
}

.boardName {

}

.activeSidebar {
  padding-left: 3rem;
}

.navbarActions {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
