.container {
  display: flex;
  justify-content: space-between;
  height: 6rem;
}

.leftContent {
  margin: 2rem 0 0 2rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.navbarActions {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
