:root {
  --primary: #645fc7
  --primary-hover: #a7a4ff
  --destructive: #ea5555
  --destructive-hover: #FF9898
}

html,
body {
  color: var(--title-text);
  background: var(--background);
  margin: 0;
}

/* Set the dark mode variables... */
[data-theme="dark"] {
  --background: #21212c;
  --secondary-background: #2b2c37;
  --title-text: white;
  --desc-text: grey;
  --border: #3e3f4e
  --secondary: #f4f7fd
  --secondary-hover: #e4ebfa
}

/* Set the light mode variables... */
[data-theme="light"] {
  --background: #f4f7fd;
  --secondary-background: #ffffff;
  --title-text: black;
  --desc-text: grey;
  --border: #dde5f3;
  --secondary: #efeff9
  --secondary-hover: #d8d7f1
}

.navbar {
  background-color: var(--secondary-background);
  border-bottom: 1px solid var(--border);
}

/* Sidebar */
.sidebar {
  background-color: var(--secondary-background);
  border-right: 1px solid var(--border);
}

.layout-navbar {
  position: fixed;
  top: 0;
  z-index: 0;
}

.layout-content {
  display: flex;
  margin: 0;
  z-index: 1;
}

/* Buttons */
.btn-large {
  width: 100%;
  padding: 1rem 0;
}

.btn-small {
  width: 100%;
  padding: .5rem 0;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-hover);

}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: var(--secondary-hover);
}

.btn-destructive {
  background-color: var(--destructive);
}

.btn-destructive:hover {
  background-color: var(--destructive-hover);
}
