html,
body {
  color: var(--title-text);
  background: var(--background);
}

/* Set the dark mode variables... */
[data-theme="dark"] {
  --background: #21212c;
  --title-text: white;
  --desc-text: grey;
}

/* Set the light mode variables... */
[data-theme="light"] {
  --background: #f4f7fd;
  --title-text: black;
  --desc-text: grey;
}
