.container {
  height: 76vh;
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-top: 2.8rem;
  margin-right: 1rem;

  span {
    color: #828fa3;
    cursor: pointer;
  }

  span:hover {
    color: #645fc7;
  }
}
